@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sanjit Kumar Singh<br />
    Hyderabad, 500038<br />
    <abbr title="Phone">P:</abbr>
    878.981.9966
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sanjitkumarsingh47@gmail.com">Support@Angular4DotnetCoreVS2015Setup.com</a><br />
</address>
